*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
.idea/ceredi3.iml
.idea/ceredi3.iml
.idea/dictionaries/Christian.xml
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
.idea/ceredi3.iml
private/application/config/database.php
.idea/vcs.xml
private/application/config/database.php
